body{
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #666666;
	background-image: 
}
.logo{
	
}
ul{
	padding-left: 120px;
	font-size: 20px;
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px;
	text-align: center;
	margin: 0;
	font-weight: bold;
	list-style-type: none;
	line-height: 50px;
}

ul li{
	background-color: #e60000;
	height: 50px;
	margin-top:20px; 
	margin-right: 10px;
}

header{
	height: 90px;
	background-color: red;
		border-bottom: solid 7px #4d4d4d;
}